{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Reviews for {{ product.product_name }}
{% endblock %}

{% block extra_meta %}
<meta name="description" content="APHROS - Reviews">
{% endblock %}

{% block content %}

<div class="container-fluid">
    {% if reviews %}
    <div class="row justify-content-center text-center m-2">
        <h1 class="other-heading">Reviews for <a href="{% url 'product_detail' product.id %}">{{ product.product_name }}</a></h1>
    </div>
    <!-- Review cards -->
    <div class="row justify-content-center text-center">        
        {% for review in reviews %}
        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-4 col-xxl-3 m-1">
            <div class="card review-card mb-1">
                <div class="card-header review-card-header">
                  <p>Created by <strong>{{ review.user }}</strong> on {{ review.date }}</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ review.title }}</h5>
                  <p class="card-text">{{ review.content }}</p>
                  <!-- Rating-->
                  <div class="rating-div">
                     {% if review.rating == 5 %}
                     <p><i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i></p>
                     {% elif review.rating == 4 %}
                     <p><i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      i class="fa-regular fa-star"></i></p>
                     {% elif review.rating == 3 %}
                     <p><i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i></p>
                     {% elif review.rating == 2 %}
                     <p><i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i></p>
                     {% elif review.rating == 1 %}
                     <p><i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i></p>
                     {% endif %}   
                  </div>
                  {% if request.user == review.user %}
                  <a class="btn action-btn" href="{% url 'edit_review' review.id %}">Edit review</a>
                  <button type="button" class="btn action-btn" data-bs-toggle="modal" data-bs-target="#modal-{{ review.id }}">
                    Delete review
                  </button>
                  

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="modal-{{ review.id }}" tabindex="-1" aria-labelledby="DeleteReview" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 reviews-text" id="DeleteReview">Are you sure you want to delete this review?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn action-btn" data-bs-dismiss="modal">Close</button>
          <a class="btn action-btn" href="{% url 'delete_review' review.id %}">Delete review</a>
        </div>
      </div>
    </div>
  </div>

                  {% endif %}
                </div>
              </div>
        </div>  
       {% endfor %} 
    </div>
    {% else %}
    <div class="m-4 text-center">
    <h3 class="reviews-text">There's no reviews for this product yet! Why dont you <a href="{% url 'add_review' product.id %}">share your opinion?</a></h3>
    </div>
    {% endif %}
</div>
{% endblock %}