{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    {% if reviews %}
    <div class="row justify-content-center text-center m-2">
        <h1 class="other-heading">Reviews for <a href="{% url 'product_detail' product.id %}">{{ product.product_name }}</a></h1>
    </div>
    <div class="row justify-content-center text-center">        
        {% for review in reviews %}
        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-4 col-xxl-3 m-1">
            <div class="card review-card mb-1">
                <div class="card-header review-card-header">
                  <p>Created by <strong>{{ review.user }}</strong> on {{ review.date }}</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ review.title }}</h5>
                  <p class="card-text">{{ review.content }}</p>
                  <div class="rating-div">
                     {% if review.rating == 5 %}
                     <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                     {% elif review.rating == 4 %}
                     <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></p>
                     {% elif review.rating == 3 %}
                     <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                     {% elif review.rating == 2 %}
                     <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                     {% elif review.rating == 1 %}
                     <p><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                     {% endif %}   
                  </div>
                </div>
              </div>
        </div>  
        {% endfor %} 
    </div>
    {% else %}
    <div class="m-4 text-center">
    <h3 class="reviews-text">There's no reviews for this product yet! Why dont you <a href="{% url 'add_review' product.id %}" class="">share your opinion?</a></h3>
    </div>
    {% endif %}

</div>

{% endblock %}