{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container bg-white cart-container m-auto p-3">
    <h3 class="category-heading text-center">Your Shopping Cart</h3>
    {% if cart_items %}
    <div>
        <table class="table table-sm text-center">
            <thead>
                <tr>
                    <th scope="col">Product:</th>
                    <th scope="col"></th>
                    <th scope="col">Price:</th>
                    <th scope="col">Quantity:</th>
                    <th scope="col">Subtotal: </th>
                </tr>
            </thead>
            {% for item in cart_items %}
            <tr>
            <td class="cart-img">
                <img src="{{ item.product.product_img.url }}" class="img-fluid">
            </td>
            <td class="w-25">
                <p><strong>{{ item.product.product_name }}</strong></p>
            </td>
            <td class="w-25">£{{ item.product.price }}</td>
            <td class="w-25">{{ item.quantity }}</td>
            <td class="w-25">£{{ item.product.price }}</td>  
            </tr>             
            {% endfor %}
            <tr>
                <td colspan="5">
                    <h6><strong>Cart Total:</strong> £{{ total }}</h6>
                    <h6><strong>Delivery:</strong> £{{ delivery }}</h6>
                    <h6><strong>Grand Total:</strong> £{{ grand_total }}</h6>
                {% if free_delivery_delta > 0 %}
                <h6>Spend ${{ free_delivery_delta }} to get free shipping!</h6>
                {% endif %}
                <a href="{% url 'products' %}" class="action-btn btn">Keep Shopping</a>
                </td>
            </tr>
        </table>
    </div>
    {% else %}
    <div class="text-center">
    <h5>Your cart is empty!</h5>
    <a href="{% url 'products' %}" class="action-btn btn"><i class="fa-solid fa-arrow-left"></i> Keep shopping</a>
    </div>
    {% endif %}
</div>

{% endblock %}