/* BASE */

body {
  background-color: #f1e5ee;
  height: 100vh;
}

.navbar {
  background-color: #f9d7f0;  
  border-bottom: solid 1px #0F510B;
}

.nav-link, p {
  color: #0F510B;
}

.nav-link i:hover {
  text-shadow: 2.5px 2.5px 0 #0F510B, 2.5px -2.5px 0 #0F510B, -2.5px 2.5px 0 #0F510B, -2.5px -2.5px 0 #0F510B, 2.5px 0px 0 #0F510B, 0px 2.5px 0 #0F510B, -2.5px 0px 0 #0F510B, 0px -2.5px 0 #0F510B, 2.5px 2.5px 2.5px #0F510B;
  color: #ffffff;
}

.nav-link i:focus {
  color: #ffffff !important;
}

.account-dropdown {
  background-color: #f9d7f0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

#logo {
  font-family: 'Anton', sans-serif;
  font-size: x-large;
  text-shadow: 2.5px 2.5px 0 #0F510B, 2.5px -2.5px 0 #0F510B, -2.5px 2.5px 0 #0F510B, -2.5px -2.5px 0 #0F510B, 2.5px 0px 0 #0F510B, 0px 2.5px 0 #0F510B, -2.5px 0px 0 #0F510B, 0px -2.5px 0 #0F510B, 2.5px 2.5px 2.5px #0F510B;
  color: #ffffff;
  text-transform: uppercase;
}

#logo:hover {
  text-shadow: 2.5px 2.5px 0 #ffffff, 2.5px -2.5px 0 #ffffff, -2.5px 2.5px 0 #ffffff, -2.5px -2.5px 0 #ffffff, 2.5px 0px 0 #ffffff, 0px 2.5px 0 #ffffff, -2.5px 0px 0 #ffffff, 0px -2.5px 0 #ffffff, 2.5px 2.5px 2.5px #ffffff;
  color: #0F510B;
}

.product-header {
  background-color: #f1e5ee;
  text-decoration: none;
  
}

.product-dropdown {
  text-decoration: none;
  font-size: xx-large;
  font-family: 'Anton', sans-serif;
  color: #0F510B;
}

.delivery-banner {
  background-color: #0F510B;
  color: #f9d7f0;
  font-family: 'Inter', sans-serif;
}

/* Toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.toast-header, .toast-body {
  font-family: 'Inter', sans-serif;
  color: #0F510B;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.free-delivery-toast {
  background-color: #0F510B;
  font-family: 'Inter', sans-serif;
}

.free-delivery-toast p {
  color: #f1e5ee;
}

/* INDEX PAGE */

.index-div {
  background: url('/media/background-img.png') no-repeat left center fixed;
  background-size: contain;
  background-color: #F1E5EE;
  height: 100vh;
}

.index-text {
  padding-left: 52%;
  padding-top: 10%;
  position: absolute;
   
}

.index-text h1 {
  font-family: 'Anton', sans-serif;
  color: #0F510B;
  text-shadow: 2.5px 2.5px 0 #F1E5EE, 2.5px -2.5px 0 #F1E5EE, -2.5px 2.5px  0#F1E5EE, -2.5px -2.5px 0 #F1E5EE, 2.5px 0px 0 #F1E5EE, 0px 2.5px 0 #F1E5EE, -2.5px 0px 0 #F1E5EE, 0px -2.5px 0 #F1E5EE, 2.5px 2.5px 2.5px #F1E5EE;
}

.shop-btn {
  background-color: #0F510B;
  color: #F1E5EE;
  font-family: 'Inter', sans-serif;
}

.shop-btn:hover {
  color: #0F510B;
  background-color: #F1E5EE;
  outline: solid 3px #0F510B;
}

/* Products Page */

.product-img {
  width: 20em;
}

.product-card {
  width: 23rem;
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.product-img:hover {
  transform: scale(1.1);
}

.product-name a {
  text-decoration: none;
  color: #0F510B;
}

.product-name a:hover {
  text-decoration: underline;
}

.action-btn {
  background-color: #f9d7f0;
  color: #0F510B;
}

.action-btn:hover {
  background-color: #f9d7f0;
  color: #0F510B;
  outline: 2px solid #0F510B;
}

.ingredients-list {
  text-transform: capitalize;
}

.category-heading {
  text-decoration: none;
  color: #0F510B;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase; 
}

.category-heading:hover {
  text-decoration: underline;
}

.category-link {
  text-decoration: none;
}

.category-link:hover {
  text-decoration: underline;
}

.bck-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#bck-to-top i {
  font-size: xx-large;
  color: #0F510B;
}

#bck-to-top i:hover {
  transform: scale(1.1);
}

/* CART */

.cart-img {
  width: 10%;
}

.remove-product, .update-link {
  text-decoration: none;
  color: #0F510B;
  cursor: pointer;
}

.remove-product:hover, .update-link:hover {
  text-decoration: underline;
} 

/* Allauth */

.allauth-form-inner-content {
font-family: 'Inter', sans-serif;
color: #0F510B;
}

.allauth-form-inner-content p {
  margin-top: 1.5rem; 
  color: #0F510B;
}

.allauth-form-inner-content input {
  border-color: #0F510B;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #0F510B;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #F1E5EE;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #0F510B;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #0F510B;
  background-color: #f9d7f0;
  border: 2px #0F510B solid;
}

.allauth-form-inner-content a {
color: #0F510B;
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}



