/* BASE */

.navbar {
  background-color: #f9d7f0;  
}

.nav-link, p {
  color: #0F510B;
}

.nav-link i:hover {
  text-shadow: 2.5px 2.5px 0 #0F510B, 2.5px -2.5px 0 #0F510B, -2.5px 2.5px 0 #0F510B, -2.5px -2.5px 0 #0F510B, 2.5px 0px 0 #0F510B, 0px 2.5px 0 #0F510B, -2.5px 0px 0 #0F510B, 0px -2.5px 0 #0F510B, 2.5px 2.5px 2.5px #0F510B;
  color: #ffffff;
}

.nav-link i:focus {
  color: #ffffff !important;
}

.account-dropdown {
  background-color: #f9d7f0;
  text-align: center;
}

#logo {
  font-family: 'Anton', sans-serif;
  font-size: x-large;
  text-shadow: 2.5px 2.5px 0 #0F510B, 2.5px -2.5px 0 #0F510B, -2.5px 2.5px 0 #0F510B, -2.5px -2.5px 0 #0F510B, 2.5px 0px 0 #0F510B, 0px 2.5px 0 #0F510B, -2.5px 0px 0 #0F510B, 0px -2.5px 0 #0F510B, 2.5px 2.5px 2.5px #0F510B;
  color: #ffffff;
  text-transform: uppercase;
}

#logo:hover {
  text-shadow: 2.5px 2.5px 0 #ffffff, 2.5px -2.5px 0 #ffffff, -2.5px 2.5px 0 #ffffff, -2.5px -2.5px 0 #ffffff, 2.5px 0px 0 #ffffff, 0px 2.5px 0 #ffffff, -2.5px 0px 0 #ffffff, 0px -2.5px 0 #ffffff, 2.5px 2.5px 2.5px #ffffff;
  color: #0F510B;
}

.product-header {
  background-color: whitesmoke;
  text-decoration: none;
}

.product-dropdown {
  text-decoration: none;
  font-size: xx-large;
  font-family: 'Anton', sans-serif;
  color: #0F510B;
}

.delivery-banner {
  background-color: #0F510B;
  color: #f9d7f0;
}

/* INDEX PAGE */

body {
  background: url('/media/background-img.png') no-repeat center center;
  background-color: #F1E5EE;
  height: calc(100vh - 164px);
  size: 100vh;
}