/* BASE */

.navbar {
  background-color: #f9d7f0;  
}

.nav-link {
  color: #0F510B;
}

.nav-link i:hover {
  text-shadow: 2.5px 2.5px 0 #0F510B, 2.5px -2.5px 0 #0F510B, -2.5px 2.5px 0 #0F510B, -2.5px -2.5px 0 #0F510B, 2.5px 0px 0 #0F510B, 0px 2.5px 0 #0F510B, -2.5px 0px 0 #0F510B, 0px -2.5px 0 #0F510B, 2.5px 2.5px 2.5px #0F510B;
  color: #ffffff;
}

.nav-link i:focus {
  color: #ffffff !important;
}

.account-dropdown {
  background-color: #f9d7f0;
}

#logo {
  font-family: 'Anton', sans-serif;
  font-size: x-large;
  text-shadow: 2.5px 2.5px 0 #0F510B, 2.5px -2.5px 0 #0F510B, -2.5px 2.5px 0 #0F510B, -2.5px -2.5px 0 #0F510B, 2.5px 0px 0 #0F510B, 0px 2.5px 0 #0F510B, -2.5px 0px 0 #0F510B, 0px -2.5px 0 #0F510B, 2.5px 2.5px 2.5px #0F510B;
  color: #ffffff;
  text-transform: uppercase;
}

#logo:hover {
  text-shadow: 2.5px 2.5px 0 #ffffff, 2.5px -2.5px 0 #ffffff, -2.5px 2.5px 0 #ffffff, -2.5px -2.5px 0 #ffffff, 2.5px 0px 0 #ffffff, 0px 2.5px 0 #ffffff, -2.5px 0px 0 #ffffff, 0px -2.5px 0 #ffffff, 2.5px 2.5px 2.5px #ffffff;
  color: #0F510B;
}