{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

{% block meta %}
    <meta http-equiv="X-UA-Compatible" contents="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block extra_meta %}
{% endblock %}
    <title>Aphros {% block extra_title %}{% endblock %}</title>

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block corejs %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
{% endblock %}
</head>
<body>
<div class="sticky-top">
<!-- Bootstrap Navbar-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" id="logo">Aphros</a>   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="nav-toggler-icon"><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarToggler">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <!-- Search Form -->
      <form method="GET" action="{% url 'products' %}" class="d-flex me-4">
        <input class="form-control me-1" type="search" name="q" placeholder="Search Products" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><span><i class="fa-solid fa-search" title="Search"></i></span></button>
      </form>
        <!-- Navbar links-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"><i class="fa-solid fa-house" title="Home"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="my-account" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user" title="My Account"></i></a>
          <div class="dropdown-menu dropdown-menu-end mt-2 account-dropdown" aria-labelledby="my-account">
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item account-dropdown-item">Manage Products</a>
              {% endif %}
            <a href="" class="dropdown-item account-dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item account-dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item account-dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item account-dropdown-item">Login</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item d-flex m-auto">
          <a class="nav-link" href=""><i class="fa-solid fa-cart-shopping" title="Cart"></i></a>
          <p class="m-auto">
            {% if grand_total %}
            ${{ grand_total|floatformat:2 }}
            {% else %}
            £0.00
            {% endif %}
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="product-header w-100">
<div class="w-50 m-auto text-center">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-2 col-sm-4 dropdown m-2">
      <a class="dropdown-toggle product-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        All
      </a>      
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'products' %}">See All</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price (low to high)</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">By Price (high to low)</a></li>
        <li><a class="dropdown-item" href="#">By Reviews</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-sm-4 dropdown m-2">
        <a class="dropdown-toggle product-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Face
        </a>      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=moisturiser">Moisturisers</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=serum">Serum</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=mist">Mists</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=mask">Masks</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=peel">Peels</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=eye_care">Eye Care</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=cleanser">Cleansers</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=exfoliator">Exfoliators</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4 dropdown m-2">
        <a class="dropdown-toggle product-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Body
        </a>      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=body_wash">Body Wash</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=bath_oil">Bath Oils</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?product_type_name=bath_salts">Bath Salts</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4 dropdown m-2">
        <a class="dropdown-toggle product-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sale
        </a>      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="w-100 delivery-banner text-center p-1 mb-4">
  <h5>Free delivery over £{{ free_shipping_treshold }}!</h5>
</div></div>

{% if messages %}
<div class="message-container"></div>
{% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>

