{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container cart-container m-auto p-3">
    <h3 class="category-heading text-center">Product Management</h3>
    <div class="border border-black bg-white">
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12 m-auto">
    <h5>Edit a Product</h5></div></div>
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12 m-auto">
    <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="mt-1">
            <a class="btn action-btn" href="{% url 'products' %}">Cancel</a>
            <button class="btn action-btn" type="submit">Update Product</button>
        </div>
    </form></div>

</div></div></div>
            

{% endblock %}