<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header fs-5">
      <i class="fa-solid fa-circle-check"></i>
       <strong class="me-auto">Success!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
      <div class="row">
        <div class="col">
            {{ message }}
            <hr class="mt-1 mb-3">
        </div>
    </div>
    {% if grand_total and not on_profile_page and not on_reviews_page %}
        <p class="logo-font bg-white text-black py-1">Your Cart ({{ product_count }})</p>
        <div class="cart-notification-wrapper">
            {% for item in cart_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if product.product_img %}
                        <img class="w-100" src="{{ item.product.product_img.url }}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.product.product_name }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ product.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <strong><p class="mt-3 mb-1">
                    Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                    <span class="float-right">£{{ total|floatformat:2 }}</span>
                </p></strong>
                {% if free_delivery_delta > 0 %}
                <div class="free-delivery-toast text-center mb-1">
                    <p class="p-2">
                        Spend <strong>£{{ free_delivery_delta }}</strong> more to get free delivery!
                    </p></div>
                {% endif %}
                <div class="m-auto text-center">
                <a href="{% url 'view_cart' %}" class="m-auto btn action-btn">
                    Go To Secure Checkout
                    <i class="fa-regular fa-credit-card"></i>
                </a></div>
            </div>
        </div>
    {% endif %}
</div>
    </div>
</div>